*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
  }
.hero-area{
    background-image:url(/Images/TH4image.jpg);
    /* padding-top: 20px; */
    padding-bottom: 120px;
}

.hero-text{
    border-radius:5px;
    border:1px solid #fff;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    background-color: rgba(236, 224, 224, 0.5);
    padding: 20px;
    width: 45%;
    margin: auto;
    color: white;
    text-shadow: 0px 0px 3px #000;
}
.capt-text{
    background-color: rgb(217, 212, 223);
    padding: 10px;
}
.best{
    padding: 50px;
    padding-top:0%;
    padding-bottom: 0%;
    font-size: 67px;
    font-weight: 750;
}
